# Artifacts and temp folders
.artifacts/**
.tmp/**
.DS_Store
.vscode/**
*.code-workspace


# Engine + Secrets
.env
.engine/**

# Dependencies
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

# modules
modules/**

# log files
logs/**

# local plan files
plans/**
